@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Orbitron:wght@400;500&family=Passion+One&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Press+Start+2P&family=Rubik+Doodle+Shadow&family=Silkscreen&family=Teko:wght@300;400;500&display=swap|Bebas+Neue&display=swap');


::-webkit-scrollbar
{
    width: 0px;
}
*
{
    margin: 0;
    padding: 0;
}
html
{
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-anchor: none;
    overflow-y: hidden;
}
body
{
    overflow: hidden;
    font-family: 'Philosopher', sans-serif;
    font-size: 16px;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background: grey;
}
.video-container {
    position:  absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    pointer-events: none;
    
}
.source
{
    pointer-events: none;
    
}
.blocker {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    
  }
video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    pointer-events: none;
}
header
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 8%;
    position: relative;
    z-index: 1;
}
nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 7%;
    position: relative;
    z-index: 1;
}
nav > a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: 115%;
    height: 60%;
    flex: 1;
    background: rgb(44, 41, 41);
    border-radius: 20px;
    margin: 10px;
    border: 2px solid rgb(255, 255, 255);
    text-decoration: none;
}
main {
    display: flex;
    height: 85%;
    width: 100%;
  }
h1
{
    text-transform: uppercase;
    font-family: 'Press Start 2P', cursive;
    font-size: 40px;
    color: white;
    text-shadow: 2px 2px 2px black;
    position: relative;
}
.strony
{
    padding: 20px;
}
.zakladka
{
    height: 100%;
    width: 85%;
    overflow: auto;
    overflow-y: hidden;
}
.filtr
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 14%;
    overflow: hidden;
    position: relative; 
    
}
.panel
{
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 90%;
    color: white;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 5px 5px 10px 0px rgb(0, 0, 0); 
    background: rgb(44, 41, 41);
    border-radius: 10px;
}
.wyszukiwanie
{
    display: flex;
    margin: auto;
    width: 100%;
    height: 10%;
    align-items: center;
    justify-content: center;
}
.wyszukiwanie > .trojkat
{
    display: none;
}
.filtrowanie
{

    width: 100%;
    height: 85%;
    overflow: auto;
    display: flex;
    flex-direction: column;
}
.zatwierdzanie
{
    width: 100%;
    height: 5%;
}
.panelwyszukiwania
{
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    height: 50%;
    width: 80%;
    border: 1px solid gray;
    border-radius: 10px;
}

input[type="search"]::-webkit-search-cancel-button {
    filter: invert(100%);
}


nav > a:hover
{
    background: rgba(122, 122, 122, 0.336);
    color: black;
    border: 2px solid rgb(255, 255, 255);
}


.lupa
{
    margin: auto;
    width: 7%;
    filter: invert(100%);
}
#search
{
    border: none;
    border-radius: 0px 10px 10px 0;
    height: 100%;
    width: 80%;
    margin-right: 5px;
    color: white;
    background: none;
}
#search:focus
{
    background: none;
    outline: none;
}


#confirm {
    color: white;;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0px 0px 10px 10px;
    text-transform: uppercase;
    background: rgb(61, 61, 61);
    transition: background 0.3s ease-in-out;
}
#confirm:active {
    background: rgb(17, 17, 17);
    transition: transform 0.1s;
}
#confirm:hover
{
    background: rgba(63, 63, 63, 0.2);
}
.gra {
    margin: 15px;
    border-radius: 10px;
    border: 2px solid white;
    width: 275px;
    height: 300px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    box-shadow: 5px 5px 10px 0px rgb(0, 0, 0);
  }
.img-gry
{
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
    object-fit: cover;
    z-index: 1;
}

.heart
{
    width: 25px;
    top: 5px;
    right: 5px;
    position: absolute;
    z-index: 3; 
    background: rgba(128, 128, 128, 0.5); 
    border-radius: 15px; 
    padding: 5px
}
.sort
{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    border-top: 1px solid grey;
    cursor: pointer;
    font-family: 'Bebas Neue', sans-serif;
    padding: 10px;
    width: 100%;
}
.sort:last-child
{
    border-bottom: 1px solid grey;
}
.text-sorting
{
    padding: 10px;
    font-size: 20px;
    font-style: oblique;
    text-align: left;
}
.p-img
{
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.sort > div > label 
{
    padding-left: 10px;
    font-size: 80%;
    text-transform: uppercase;
}
.sort > div
{
    padding: 10px;

}
.sort > div :first-child
{
    padding: 0px;
}
input[type='radio'], input[type='checkbox'] {
    transform: scale(1.3);
}
.trojkat {
    display: flex;
	width: 0;
	height: 0;
	border-left: 8.75px solid transparent;
	border-right: 8.75px solid transparent;
	border-top: 15.125px solid #ffffff;
    margin-right: 30px;
    z-index: 2;
}
.nazwa-gry
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    color: white;
    z-index: 1;
    text-transform: uppercase;
    font-size: 150%;
    font-weight: 600;
    font-family: 'Bebas Neue', sans-serif;
} 
  .nazwa-gry {
    position: absolute;
    bottom: 0;
    left: 0;
    transition: transform 0.5s ease-in-out;
  }
  
  .img-logo {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    bottom: 0;
    width: 100%;
    left: 0;
    transition: transform 0.5s ease-in-out;
    z-index: 2;
  }


  .gra:hover .nazwa-gry {
    transform: translateY(100%);
  }
  
  .gra:hover .img-logo {
    transform: translateY(-100%);
  }
  .img-gry:hover
  {
      transform: scale(1.2);
  }

.wyszukiwarka
{
    margin: auto;
    height: 8%;
    width: 100%;
}
.strona
{
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    height: 200px;
    width: 500px;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    background: rgba(255, 255, 255,0.2);
    overflow: hidden;  
}
.img-strona{
    height: 100%;
}
.nazwa-strony
{
    font-size: 100%;
    font-weight: 600;
    font-family: 'Helvetica Neue', sans-serif;
    margin: 0 auto;
    padding-top: 10px;
}
.aktualnosci > a, .sklepy > a
{
    padding: 10px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Bebas Neue', sans-serif;
}
.sklepy, .aktualnosci , #sortowanieAkt, #sortowanieInne{
    display: none;
}
.gry {

    display: flex;
}
#sortowanieGry
{
    display: block;
    flex-wrap: wrap
}
.gry ,.aktualnosci ,.sklepy , .lista
{
    width: 100%;
    height: 100%;
    overflow: auto;
    flex-wrap: wrap;
    float: left;
    align-content: flex-start;
    justify-content: center;
}
.strona-gry
{
    margin: 15px;
    border-radius: 10px;
    border: 2px solid white;
    width: 275px;
    height: 300px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    box-shadow: 5px 5px 10px 0px rgb(0, 0, 0);
    text-decoration: none;
    transition: width 0.3s ease; /* Dodaje animację do zmiany szerokości */
    background: rgba(51, 51, 51, 0.4);
}

.logo-strony {
    width: 100%; /* Div .logo-strony zajmuje całą szerokość rodzica */
    height: 100%; /* Div .logo-strony zajmuje całą wysokość rodzica */
    z-index: 2;
    float: left;
    left: 0;
}
.logo-strony img.str-gry {
    width: 100%; /* Obrazek .str-gry ma stałą szerokość */
    height: 100%; /* Obrazek .str-gry zajmuje całą wysokość .logo-strony */
    object-fit: cover; /* Obrazek .str-gry jest skalowany tak, aby pokryć całą powierzchnię .logo-strony, zachowując proporcje */
    object-position: center; /* Centruje obrazek w .logo-strony */
}

.info-str {
    position: absolute; /* Pozycjonuje .info-str względem najbliższego rodzica z position: relative; */
    width: 275px; /* Szerokość .info-str */
    left: 0;
    height: 100%;
    transform: translateX(-100%); /* Przesuwa .info-str poza prawą krawędź rodzica */
    transition: transform 0.3s ease; /* Dodaje animację do zmiany transform */
}

.strona-gry:hover .info-str {
    transform: translateX(100%);
  }
  .info-str > span
  {
        color: white;
        font-size: 50px;
        text-transform: uppercase;
        font-family: 'Bebas Neue', sans-serif;
        padding-left: 10px;
    margin-bottom: 20px;

  }

.info-str > p
{
    color: white;
    font-size: 25px;
    text-transform: uppercase;
    font-family: 'Bebas Neue', sans-serif;
    padding-left: 10px;
    border-bottom: 1px solid white;
}
.lista
{
    display: none;
}
.filtry
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    overflow: auto;
}
.buttonsort
{
    color: white;
    border: none;
    background: none;
    font-size: 15px;
    width: 100%;
    height: 100%;
    padding: 10px 0 5px 10px;
    text-align: left;
    display: none;
    justify-content: space-between;
}
.buttonsort:hover
{
    background: rgba(255, 255, 255, 0.2);

}
.buttonsort b {
    margin-right: 10px;
    color: red;
}
.rozwijanie
{
    display: flex;
    position: relative;
    height: 100%;
    width: 1%;
}
.arrow {
    height: 40px;
    width: 20px;

    transition: transform 0.3s ease;
    z-index: 2;
    position: absolute;
    top: 50%;
}
  .arrow:hover .arrow1 {
    transform: rotate(25deg) translateY(15%);
  }

  .arrow:hover .arrow2 {
    transform: rotate(-25deg) translateY(-15%);
  }
  .arrow:hover .arrow1.clicked {
    transform: rotate(-25deg) translateY(15%);
  }
  
  .arrow:hover .arrow2.clicked {
    transform: rotate(25deg) translateY(-15%);
  }
  
  .arrow1,
  .arrow2 {
    background: white;
    height: 20px;
    width: 5px;
    left: 50%;
    transition: transform 0.3s ease;
  }
  .arrow1 {
    border-radius: 20px;
    transform: translateY(15%);
  }

  .arrow2 {
    border-radius: 20px;
    transform: translateY(-15%);
  }
  .sklepy,.aktualnosci,.gry
    {
        margin-top: 25px;
    }


@media (max-width: 1315px)  {
    main {
        flex-direction: column;
    }
    .filtr, .zakladka {
        width: 100%;
    }
    .lupa
    {
        width: 3%;
    }
    .wyszukiwanie > .trojkat
    {
        display: flex;
        margin-right: 10px;
    }
    .zatwierdzanie
    {
        height: 15%;
    }
    .panel
    {
        height: 85%;
        box-shadow: none;
    }
    .gra {
        width: 200px;
        height: 245px;
    }
    .nazwa-gry
    {
        font-size: 105%;
        font-weight: 600;
    }
    nav > a
    {
        font-size: 95%;
        margin: 5px;
    }
    .sort
    {
        padding: 5px;
    }
    .rozwijanie
    {
        height: 1%;
        width: 100%;
    }
    h1
    {
        font-size: 30px;
    }
    .strona
    {
        width: 450px;
    }
}


@media (max-width: 700px) {

    nav > a
    {
        font-size: 75%;
        margin: 5px;
    }
    .strony {
        width: auto;
        margin-top: 20px;
    }
    .gra {
        width: 160px;
        height: 190px;
    }
    .strona
    {
        width: 380px;
    }
    .strona-gry
    {
    margin: 5px;
    width: 175px;
    height: 200px;
    }

}
